<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

</head>
<body>
<div th:fragment="publicacion">
    <div id="publicacion" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title publicaciones"></h4>
                </div>
                <div class="modal-body">
                    <img alt="Publicación" class="img-responsive principal" onerror="this.src='/images/publicaciones/not-found.png'"/>
                </div>
                    <!-- Datos Publicacion -->
                    <section id="datos-publicacion">
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                                <h4 class="preguntas-publicacion">Qué hay que hacer?</h4>
                        </div>
                        <h3 class="modal-descripcion publicaciones"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">Dónde?</h4>
                        </div>
                        <h3 class="modal-ubicacion publicaciones"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">Cuánto quiero gastar?</h4>
                        </div>
                        <h3 class="modal-precio publicaciones"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">Cuándo lo necesito?</h4>
                        </div>
                        <h3 class="modal-urgencia modal-fecha publicaciones"></h3>
                    </section>

                    <!-- Boton -->
                    <section id="boton-postularme">
                        <div class="btn-postulacion">
                            <!--Solo ve el "POSTULARME" en caso que sea el prestador-->
                            <a href="#" class="ifix-product-btn btn btn-secondary btn-secondary-alt hoverable btn-letter-spacing-1" sec:authorize="isAuthenticated() and hasAuthority('PRESTADOR') ">
                                <span class="anim"></span>
                                Postularme
                            </a>
                            <a id="ver-mas" href="#" class="ifix-product-btn btn btn-secondary btn-secondary-alt hoverable btn-letter-spacing-1" sec:authorize="isAuthenticated() ">
                                <span class="anim"></span>
                                Ver más
                            </a>
                        </div>
                    </section>
                </div>
        </div>
    </div>
</div>
</body>
</html>