<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#index">
                <img alt="brand" id="logo-nav" src="/images/logo.png" />
                <img alt="brand" id="logo-nav-white" src="/images/logo-white.png" />
                <span>FixIT</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a href="#section-Categorias">Categorias</a></li>
                <li sec:authorize="!isAuthenticated()" ><a href="#section-Clientes">Clientes</a></li>
                <li sec:authorize="!isAuthenticated()" ><a href="#section-Profesionales">Profesionales</a></li>
                <li sec:authorize="!isAuthenticated()" ><a href="#Destacados">Trabajos Destacados</a></li>
                <!--Tomador AGREGAR HASROLE-->
                <li sec:authorize="isAuthenticated()"><a href="/publicacion/list">Publicaciones</a></li>
                <!--Prestado AGREGAR HASROLEr-->
                <li sec:authorize="isAuthenticated()"><a href="#about">Postulaciones</a></li>
                <li sec:authorize="isAuthenticated()"><a href="#contact">Trabajos</a></li>
            </ul>

            <div class="navbar-text navbar-right">
                <div sec:authorize="isAnonymous()" id="frmlogin" th:action="@{/login}" method="get" class="form-inline">
                    <a type="button" class="login" data-toggle="modal" data-target="#login">Iniciar Sesión</a>
                    <!--<a href="javascript:{}" onclick="document.getElementById('frmlogin').submit(); return false;">Iniciar Sesión</a>-->
                </div>
                <div sec:authorize="isAuthenticated()"><a href="/user/perfil"><span sec:authentication="name">Guest</span></a></div>
                <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
                    &nbsp;| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Cerrar Sesión</a>
                </form>
            </div>
        </div>
    </div>
</nav>
</div>

</body>
</html>