<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FixIt</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Mi Perfil</a></li>
                    <li><a href="#">Mis Publicaciones</a></li>
                    <li><a href="#">Mis Trabajos</a></li>
                </ul>

                <div class="navbar-text navbar-right">
                    <form sec:authorize="isAnonymous()" id="frmlogin" th:action="@{/login}" method="get" class="form-inline">
                        <a href="javascript:{}" onclick="document.getElementById('frmlogin').submit(); return false;">Iniciar Sesión</a>
                    </form>
                    <div sec:authorize="isAuthenticated()"> Welcome <span sec:authentication="name">Guest</span></div>
                    <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
                        &nbsp;| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Cerrar Sesión</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>