<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/js/form-validator/theme-default.min.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,700|Ubuntu:400,700|Varela" rel="stylesheet" />
    <link th:href="@{/css/fixit.css}" rel="stylesheet" media="screen"/>
    <!--<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/jquery-ui-datepicker.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-dialog.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/jquery.rateyo.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!--<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>-->
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script th:src="@{/js/form-validator/jquery.form-validator.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.shorten.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/jquery-ui-datepicker.min.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/bootstrap-dialog.min.js}"></script>
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/jquery.rateyo.js}"></script>

</head>
<body>

</body>
</html>