<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

</head>
<body>
<div th:fragment="login">
    <section id="signin" class="modal-signin">
        <div class="container">
            <div class="col-lg-12">
                <div th:if="${param.error}" class="error-msg alert alert-danger">
                    <p>Usuario o contraseña invalidos.</p>
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    <p>Has cerrado sesión.</p>
                </div>
                <form name="f" th:action="@{/login}" method="post" class="form-signin">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required="true" />
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="true"/>
                    <!--<div class=" col-lg-6 checkbox">-->
                        <!--<input type="checkbox" name="remember-me" class="css-checkbox" id="remember-me" checked="checked"/>-->
                        <!--<label for="remember-me" name="checkbox1_lbl" class="css-label square"></label>-->
                        <!--<span class="span">Recuerdame</span>-->
                    <!--</div>-->

                    <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Ingresar</button>
                    <div class=" col-lg-12 link-login forgot-password">
                        <a href="#">¿Olvidó su contraseña?</a>
                    </div>
                    <div class=" col-lg-12 link-login signup-user">
                        <a href="/signup/tomador">Registro de Clientes</a>
                    </div>
                    <div class=" col-lg-12 link-login signup-prof">
                        <a href="/signup/prestador">Registro de Profesionales</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>