.form-signin{
    margin: 0 auto;
}

/*
    COLORES

    Azul: rgb(2,58,143)
    Celeste: rgb(50,111,205)
 */

body {
    font-family: 'Varela', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /*padding-top: 10px;*/
}

.body-index {
    background-color: #f7f7f7
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 1.3em;
}

.navbar-default {
    background: rgba(0,0,0,0);
    border-bottom: 0;
    padding: 25px;
}
.navbar-brand {
    padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
    height: 100%;
    padding: 2px; /* firefox bug fix */
    width: auto;
    display: inline-block;
    /*border:1px white;*/
    -webkit-filter: drop-shadow(1px 1px 5px #ccc);
    filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.3));
    transition: all 200ms linear;
}

#logo-nav-white {
    display: none;
    -webkit-filter: none;
    filter: none;
    padding:5px;
}

.navbar-brand>span {
    font-family: 'Ubuntu';
    font-size: 2.2em;
    vertical-align: middle;
    color: rgba(255,255,255,0.7);
    margin-left: 5px;
    transition: all 100ms linear;
}

.navbar-nav {
    padding-left: 20px;
}

.navbar-nav>li>a,.navbar-right a{
    color: rgba(255,255,255,0.6) !important;
    text-shadow: 1px 1px 10px rgba(255,255,255,0.1);
    transition: all 200ms linear;
}
.navbar-text.navbar-right a:hover{
    text-decoration: none!important;
    cursor: pointer;
}


.navbar-nav>li>a:hover ,.navbar-right a:hover{
    color: rgba(255,255,255,1) !important;
}

.navbar-fixed-top.scrolled {
    background-color: rgba(2,58,143,1) !important;
    padding: 5px;
    box-shadow: 0 3px 10px #555;
    transition: all 200ms linear;
}

@media (max-width: 767px) {
    .jumbotron {
        background-size: cover !important;
        background-position: 45% !important;
    }

    .btn-secondary-alt {
        margin-bottom: 10px !important;
    }

    .searchBar .dropdown-searchBar .search-container input {
        width: 100% !important;
        text-align: center !important;
        padding:0 !important;
    }

    .categories .list-block .list-block__item {
        margin: 0 3px 10px 3px !important;
    }

    .navbar-fixed-top {
        background-color: rgba(2,58,143,1) !important;
        padding: 15px;
        box-shadow: 0 3px 10px #555;
        transition: all 200ms linear;
    }

    .navbar-fixed-top.scrolled {
        background-color: rgba(2,58,143,1) !important;
        padding: 15px;
        transition: all 200ms linear;
    }

    .navbar-fixed-top>.container>.navbar-header>a>#logo-nav-white {
        display: inline-block;
    }

    .navbar-fixed-top>.container>.navbar-header>a>#logo-nav {
        display: none;
    }

    .navbar-fixed-top>.container>.navbar-header>.navbar-brand>span {
        font-family: 'Ubuntu';
        font-size: 1.8em;
        color: rgba(255,255,255,1);
        transition: all 200ms linear;
    }

    .navbar-fixed-top>.container>#navbar>.navbar-nav>li>a,
    .navbar-fixed-top>.container>#navbar>.navbar-text.navbar-right a{
        color: #fff !important;
        text-decoration: none;
    }

    .navbar-fixed-top>.container>#navbar>.navbar-nav>li>a:hover,
    .navbar-fixed-top>.container>#navbar>.navbar-text.navbar-right a:hover {
        color: #afbdc5 !important;
        transition: all 200ms linear;
    }

    .category-title {
        font-size: 10px !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .category-item .category-icon .img-responsive {
        max-width:60% !important;
    }

    .text-center .container .titulo-prin {
        margin-top: 25px !important;
        letter-spacing: 12px !important;
    }

    .text-center .container .subtitulo {
        letter-spacing: 5px !important;
    }

    .container .section.category-items.job-category-items.text-center .category-list .category-item {
        width: 32% !important;
    }

}

.navbar-toggle {
    background-color: #fff !important;
}

.navbar-fixed-top.scrolled>.container>.navbar-header>a>#logo-nav-white {
    display: inline-block;
}

.navbar-fixed-top.scrolled>.container>.navbar-header>a>#logo-nav {
    display: none;
}

.navbar-fixed-top.scrolled>.container>.navbar-header>.navbar-brand>span {
    font-family: 'Ubuntu';
    font-size: 1.8em;
    color: rgba(255,255,255,1);
    transition: all 200ms linear;
}

.navbar-fixed-top.scrolled>.container>#navbar>.navbar-nav>li>a,.navbar-fixed-top.scrolled>.container>#navbar>.navbar-text.navbar-right a{
    color: #fff !important;
    text-decoration: none;
}

.navbar-fixed-top.scrolled>.container>#navbar>.navbar-nav>li>a:hover,
.navbar-fixed-top.scrolled>.container>#navbar>.navbar-text.navbar-right a:hover {
    color: #afbdc5 !important;
    transition: all 200ms linear;
}

.navbar-right {
    color: rgba(255,255,255,0.6) !important;
    text-decoration: none;
}

.navbar-right>div {
    display: inline-block;
}

.navbar-right>form {
    display: inline-block;
}

.navbar-right>form>a {
    color: rgba(255,255,255,0.6) !important;
}

.jumbotron {
    background-image: url("../images/plumber-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 700px;
    color: rgba(255,255,255,1);
}

.jumbotron>.container {
    padding-top: 8%;
}

#signin {
    padding-top: 50px;
}

#signin .container .col-lg-7{
    float: none;
    margin: 0 auto;
}
#signin .container h3.form-signin-heading{
    font-size: 40px;
    font-weight: 600;
    color: #a5a39d;
    text-align: center;
    margin-bottom: 50px;
}

#signin .container .form-signin input#username {
    background-image: url(../images/input-ic-user.png);
    background-size: auto 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

#signin .container .form-signin input#password{

    background-image: url(../images/input-ic-pass.svg);
    background-size: auto 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}


#signin .container .form-signin input{
    width: 80%;
    background: transparent;
    border: 1px solid #b1aeae;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    color: #000;
    margin: 5% auto auto;
    height: 44px;
}
#signin .container .form-signin .checkbox{
    padding: 10px 0 15px;
    padding-left: 10%;
}

#signin .container .form-signin .checkbox input[type=checkbox].css-checkbox {
    display: none;
}

#signin .container .form-signin .checkbox  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-image: url(../images/check-square.svg);
    background-position: 3px 3px;
    overflow: visible;
    background-size: 15px 15px;
    height: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
}

#signin .container .form-signin .checkbox label.square {
    height: 22px;
    width: 22px;
    border: 1px solid #9a999d;
    border-radius: 7px;
}

#signin .container .form-signin .checkbox span {
    text-align: left;
    width: auto;
    top: inherit;
    position: inherit;
    left: inherit;
    right: inherit;
    background: transparent;
    padding-left: 5px;
    display: inline-block;
    color: #86858a;
}

#signin .container .form-signin .btn-primary,.btn-primary{
    background-color: transparent;
    border-color: #3ac58f;
    color: #3ac58f;
}

#signin .container .form-signin .btn-primary:hover,.btn-primary:hover{
    background-color: #3ac58f;
    color: #ffffff;
    border-color: #3ac58f;
    transition: all 200ms linear;
}

#signin.modal-signin{
    padding-top: 0px;
}

#login h4{
    text-align: center;
}

#signin.modal-signin .container{
    width: auto;
}

@media (min-width: 768px){
    #login .modal-dialog {
        width: 450px;
    }
}

.form-signin .link-login{
    margin-top: 5px;
    text-align: center;
}

.form-signin .link-login.forgot-password{
    margin-top: 20px;
}

.form-signin .link-login a:hover{
    text-decoration: none;
    color: black;
}

.form-signin .link-login a{
    color: #86858a;
}

#login .form-signin .btn-primary.btn-block{
    width: 50%;
    margin: 10% auto auto;
}

div.signup, #signin .container{
    max-width: 600px;
    margin: 2% auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

#signup .title{
    color: #a5a39d;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin-bottom: 30px;
    font-weight: 200px;
    font-weight: 600;
}

.has-error p{
    color: darkred;
}

.has-error p:first-letter{
    text-transform: capitalize;
}

#modalSuccess .modal-body img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

#modalSuccess .modal-body{
    text-align: center;
}

#modalSuccess .modal-body a.btn-close{
    background: #4a97e7;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    width: 100%;
    margin-top: 30px;

}

#modalSuccess .modal-body a.btn-close:hover{
    background-color: #295382;
    box-shadow: none;
    outline: 0;
}

#signup .form-group {
    margin-bottom: 8px;
}

#signup .form-group.submit {
    text-align:center;
}

.body-background{
    background-image: url("../images/plumber-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 785px;
    position: relative;
    width: 100%;
    height: 100%;
}
#signup .login{
    text-align: center;
}

#signin .container .form-signin .btn-primary.btn-block.btn-login{
    margin: 30px auto auto;
    width: 50%;
}

.btn-primary.btn-block.btn-login .btn.focus, .btn:focus, .btn:hover {
    background-color: #3ac58f;
    text-decoration: blink;
    color: white;
    transition: all 200ms linear;
}

.text-center .container .titulo-prin{
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInDown;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 16px;
    line-height: 60px;
}

.text-center .container .subtitulo{
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInDown;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 12px;
    margin-top: 3%;
}

.subtitulo-jobs{
    font-size: 30px;
    letter-spacing: 12px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.subtitulo-search{
    font-size: 16px;
    letter-spacing: 6px;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #aaa;
}

.container .section.category-items.job-category-items.text-center{
    padding: 50px 25px 35px;
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 40px;
}

.container .section.category-items.job-category-items.text-center .category-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container .section.category-items.job-category-items.text-center .category-list .category-item{
    width: 16%;
    display: inline-block;
    margin-bottom: 25px;
}

.category-item .category-icon .img-responsive{
    max-width: 35%;
    display: inline-block;
}

.category-item.selected  span,.category-item a:hover,.category-item.hover  span,.category-item.checked  span{
    text-decoration: none;
    color: #3ac58f;
}

.category-item:hover {
    cursor: pointer;
    text-decoration: none;
}

.category-icon img {
    margin: 0 auto;
}

.category-list .category-item .category-icon{
    margin-bottom: 5px;
}

.category-icon {
    min-height: 37px;
    width: 100%;
}

.category-title {
    display: block;
    font-size: 13px;
    color: slategrey;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-quantity {
    color: #b5b5b5;
}

.row {
    display: inline-block;
    background-color: #ffffff;
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

.carousel-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ffffff;
    opacity: .0;
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    opacity: .100;
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    opacity: .100;
}

.ifix-carousel-controls .carousel-control {
    color: #333;
    text-shadow: none;
    top: 35%;
    width: 5%;
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-3x {
    font-size: 3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    bottom: -40px;
}

.ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

 .carousel-indicators li.active {
     background: #ccc;
     margin: 0 5px;
     width: 15px;
     height: 15px;
 }

.carousel-indicators li {
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #ccc;
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.fa-angle-down:before {
    content: "\f107";
}
.scroll-down-link {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    animation: fade_move_down 2s ease-in-out infinite;
}

.scroll-icon {
    color: white;
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.center-block {
    display: block;
}

.ifix-howitworks-text h4 {
    letter-spacing: 2px;
    margin-bottom: 4%;
    margin-top: 10%;
    min-height: 20px;
    font-size: 24px;
}

.ifix-howitworks-text p {
    line-height: 35px;
    margin-bottom: 5%;
    min-height: 60px;
    font-size: 18px;
}

.btn-secondary-alt .btn-tiny {
    font-size: 13px;
    padding: 9px 10px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-secondary-alt {
    background-color: transparent;
    border-color: #3ac58f;
    color: #3ac58f;
    font-size: 18px;
    margin-bottom: 10px;
}

.ifix-howitworks-image .ifix-howitworks-phone img {
    margin: auto;
    padding-top: 12%;
    heigh: 250px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.col-sm-5 h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 32px;
    text-transform: none;
    min-height: 20px;
}

.col-sm-5 p{
    font-size: 18px;
}

.col-sm-5 p.cierre-prestador{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bold;
    color: #3ac58f;
}

.frame-img-light img {
    width: 45%;
}

.footer-distributed {
    background-color: #252525;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    font-family: 'Varela', sans-serif;
}

.footer-distributed .row {
    background-color: inherit !important;
}

/*.footer-distributed .footer-left {
    width: 40%;
}*/

.footer-distributed .footer-links {
    margin: 40px 0 40px;
    padding: 0;
    color: #ffffff;
}

.footer-distributed .footer-links a{
    color: #ffffff;
}

.footer-distributed .footer-company-name {
    color: #92999f;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

/*.footer-distributed .footer-center {
    width: 35%;
}*/

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/*.footer-distributed .footer-right {
    width: 20%;
}*/

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.register-buttons .btn-secondary-alt {
    margin-top: 5%;
    margin-right: 2%;
}

.ifix-product-box {
    margin-bottom: 10%;
    padding: 0;
    text-align: center;
}

.shadow-box {
    border: 1px solid #e7e7e7;
    background: white;
    transition: all .3s;
}

.shadow-box:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.ifix-product-box p {
    margin-bottom: 0;
}

.ifix-product-box p.installationType strong {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #333;
    margin-top: 2%;
}

.ifix-product-box small {
    color: #555;
    display: block;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

span {
    font-family: "Open Sans","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

#section-Destacados .subtitulo-jobs{
     margin-bottom: 5%;
 }

#section-Destacados .img-responsive{
    margin-bottom: 10%;
}

#section-Destacados .btn-secondary-alt{
    margin-bottom: 6%;
}

#publicacion{
    padding-top: 90px;
    background-color: rgba(211, 211, 211, 0.58);
    padding-bottom: 50px;
}
#publicacion .container .form-container{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 7px;
}

#publicacion .container h2{
    letter-spacing: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

#publicacion .container h4{
    letter-spacing: 6px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.white-body .navbar-fixed-top.navbar-default{
    background-color: #252525;
    box-shadow: 0 3px 10px #555;
    padding: 15px;
}

.white-body .navbar-fixed-top.navbar-default .navbar-brand.searchbychar span{
    color: white !important;
}

#publicacion .container .form-container .form-group label{
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#publicacion .container .form-container .section.category-items.job-category-items.text-center {
     margin-top: 0px;
     padding: 20px 10px 10px 20px;
     background-color: #ffffff;
     width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
 }

label.category-item  > input.input-radio{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label.category-item > input.input-radio + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}

.searchBar {
    white-space: nowrap;
    float: none;
    margin: 40px auto 0px auto;
}


.searchBar .dropdown-searchBar .search-container {
    color: #999;
    font-size: 16px;
}

.searchBar .dropdown-searchBar .search-container input {
    padding: 0 4px 0 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ddd;
    border-width: 1px 0 1px 1px;
    font-weight: normal;
    box-shadow: none;
    font-size: 1.1em;
    border-radius: 20px 20px 20px 20px;
    background: #fff url(/images/icon-search.svg) no-repeat 10px 50%;
    cursor: text;
    width: 55%;
}

.searchBar .dropdown-searchBar .search-container input:focus {
    outline: none;
}

.categories h3.banner-busqueda{
    margin-bottom: 30px;
}
.categories h3.banner-busqueda span{
    color: #ddd;
    font-size: 17px;

}

.categories{
    width: 80%;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.categories .list-block{
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
}

.categories .list-block .list-block__item{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.categories .list-block .list-block__item a{
    background-color: rgba(255, 255, 255, 0.22);
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    border-radius: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    height: 35px;
}

.categories .list-block .list-block__item a:hover {
    text-decoration: none;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.51);
    transform: translateY(-2px);
    border-color: #ddd;
}


.categories .list-block .list-block__item .category-a {
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}

.categories .list-block .list-block__item .category-a .category-description{
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}

.categories .list-block .list-block__item .category-a .category-description h2 {
    font-size: 14px;
    color: #FFF;
    line-height: 18px;
    padding: 0 20px;
    margin: 0;
}

#publicacion .form-horizontal .form-group{
    margin-right: 0px;
    margin-left: 0px;
}

#publicacion .form-horizontal .form-group.btn-publicacion{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}


#publicacion .form-horizontal .form-group.price input{
    width: 79%;
    display: inline-block;
}

#publicacion .form-horizontal .form-group.price select{
    width: 20%;
    display: inline-block;
}

#publicacion .category-title{
    display: block;
    font-size: 13px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#publicacion .container .form-signin .btn-primary, .btn-primary {
    background-color: transparent;
    border-color: #3ac58f;
    color: #3ac58f;
    font-size: 20px;
}

.fixit-product-box p.installationType strong{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #333;
    margin-top: 2%;
}

.fixit-product-box small {
    color: #555;
    display: block;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    display: inline;
}

.fixit-product-box .icons-publicacion {
    display: inline;
}

.fixit-product-box .icon-tipotrabajo {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
    height: auto;
    display: inline;
    margin-right:5px;
}

.fixit-product-box>span{
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 0px;
    text-transform: uppercase;
    color: #9c9c9c;
}

#section-publicaciones .btn-secondary-alt{
    font-size: 14px;
    margin-bottom: 5%;
}

.fixit-product-box {
    margin-bottom: 10%;
    padding: 0;
    text-align: center;
}

#section-publicaciones {
    padding-top: 30px;
    background-color: rgba(211, 211, 211, 0.58);
    padding-bottom: 50px;
}

#section-publicaciones .container {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 7px;
    text-align: center;
}

#section-publicaciones .subtitulo-jobs {
    font-size: 30px;
    letter-spacing: 12px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

#section-publicaciones.public-list {
    padding-top: 120px;
}

#section-publicaciones .img-responsive {
    margin-bottom: 15px;
}

.jumbotron-categoria {
    background-image: url("../images/mantenimiento.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 250px;
    color: rgba(255,255,255,1);
}

.text-center .container .titulo-prin-static {
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInDown;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 16px;
    line-height: 60px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#publicacion  form .photo-section .btn {
    margin-bottom: 30px;
    width: 250px;
}

#publicacion  form .photo-section .thumbnail>img {
    height: 150px;
}

#publicacion  form .photo-section  #preview_images {
    padding: 20px 10px 10px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    display: none;

}

#publicacion  form .photo-section  #preview_images .image_thumbnail.view .thumbnail{
    border-color: rgba(0, 230, 141, 0.48);
    border-width: 3px;
    padding: 3px;
}
#publicacion  form #file-input-container .btn.btn-primary.btn-file{
    height: 34px;
    font-size: 15px;
}



.photo-section #add-photo-link {
    position: relative;
    background: rgb(87, 90, 90);
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.photo-section #add-photo-link:hover{
    background: rgba(211, 211, 211, 0.58);
}
.photo-section #add-photo-link input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
}


.photo-section #add-photo-link span{
    font-size: 16px;
    font-weight: bold !important;
}

.photo-section #preview_images .view {
    position: relative;
    display: inline-block;
}

.photo-section #preview_images .view .buttons {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 40px;
    display: none;
}

.photo-section #preview_images .view a.remove {
    color: red;
}

.telefono .input-group.has-error p {
    display: none;
}

.latest-jobs-ads {
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px 30px;
}
.latest-jobs-ads .section-title {
    padding-bottom: 0;
}
.page .section-title {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
    overflow: hidden;
}
.tab-manu {
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}
.tab-manu h4 {
    float: left;
    margin-bottom: 14px;
}
.section-title h4 {
    color: #000;
    font-weight: 500;
}
.tab-manu .nav-tabs {
    float: right;
    border: none;
    border: 1px solid transparent;
}
.latest-jobs-ads .nav-tabs>li>a {
    margin-right: 0;
}
.tab-manu .nav-tabs li a {
    padding: 12px 15px;
    border-bottom: 0;
    text-transform: capitalize;
    color: #9c9c9c;
    margin-left: 2px;
}
.tab-manu .nav-tabs li a:hover, .tab-manu .nav-tabs li a:focus, .tab-manu .nav-tabs li.active a {
    border: 1px solid #f2f2f2;
    background-color: #fcfcfc;
    border-bottom: #f2f2f2;
    border-radius: 0;
    color: #3ac58f;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.job-ad-item {
    padding: 15px;
    overflow: hidden;
    position: relative;
    border: 1px solid #f3f3f3;
    margin: 18px 0;
    border-radius: 2px;
}
.job-ad-item .item-info {
    min-height: 0;
    overflow: hidden;
}
.item-image-box, .item-info {
    padding: 0;
    margin: 0;
}
.item-image-box.col-md-2 {
    width: 10%;
}
.job-ad-item .item-image-box, .job-ad-item .ad-info {
    float: left;
}
.item-image-box {
    overflow: hidden;
}
.item-image-box, .item-info {
    padding: 0;
    margin: 0;
}
.job-ad-item .item-image {
    width: 95px;
    height: 85px;
    border: 1px solid #f3f3f3;
    overflow: hidden;
}
.item-image {
    position: relative;
}
.job-ad-item img {
    width: inherit;
}
.job-ad-item .ad-info {
    padding: 5px 25px;
    text-align: left;
}
.job-ad-item .item-image-box, .job-ad-item .ad-info {
    float: left;
}
.job-ad-item .ad-info span {
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.job-ad-item .ad-info span {
    color: #000;
    font-size: 14px;
    line-height: 17px;
}
.job-ad-item .ad-info a.title {
    font-weight: 300;
    color: #000;
    font-weight: 500;
}
.job-ad-item .ad-info span a {
    color: #000;
    font-size: 20px;
    font-weight: 300;
}
.job-ad-item .ad-meta {
    position: inherit;
    background-color: transparent;
    border-top: none;
    padding-left: 0;
    min-height: inherit;
    display: inline;
}
.job-ad-item .ad-meta li:first-child {
    margin-left: 0;
}
.job-ad-item .ad-meta a, .job-ad-item .ad-meta li {
    font-size: 14px;
    color: #a0a0a0;
    display: block;
}
.job-ad-item .ad-meta li {
    float: left;
    margin-left: 20px;
}
.job-ad-item .ad-meta a, .job-ad-item .ad-meta li {
    font-size: 14px;
    color: #a0a0a0;
}
.job-ad-item .ad-meta i, .job-ad-item .ad-meta a i {
    font-size: 20px;
    margin-right: 10px;
}
.ad-meta ul{
    padding-left: 0px;
}
.ad-meta a i {
    text-align: right;
}
.job-ad-item .button {
    float: right;
}
.job-ad-item .btn.btn-primary {
    padding: 5px 30px 6px;
    margin-top: 25px;
    font-size: 14px;
    margin-right: 25px;
    margin-bottom: 5%;
}

.fixit-job-box {
    padding: 0;
    text-align: center;
}

.fixit-job-box p.installationType strong {
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 400;
     letter-spacing: 3px;
     color: #333;
     margin-top: 2%;
 }

.tam-boton-100{
    width: 100%
}

.button.col-md-3 i{
     margin-left: 5%;
 }
.edit-delete a:hover{
    color: #23527c;
    text-decoration: none;
}
.container .section.category-items.job-category-items.text-center.imagenes-publicacion {
    display: inline-block;
    background-color: #ffffff;
    width: 50%;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.subtitulo-jobs.imagenes{
    font-size: 20px;
    letter-spacing: 12px;
    margin-bottom: 5px;
}
.ifix-publicacion-image img {
    margin: auto;
    padding-top: 0;
    heigh: 250px;
}

.modal-title.publicaciones{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#datos-publicacion h3{
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Varela', sans-serif;
    text-align: center;
    font-size: 20px;
    color: grey;
}

#datos-publicacion h4{
    margin-top: 20px;
    text-align: center;
    display: inline;
    color: #3ac58f;
}

#datos-publicacion i{
    font-size: 18px;
    color: #3ac58f;
}

#publicacion {
    padding-top: 20px;
}

.icons-publicacion-detalle{
    display: inline;
}

#datos-publicacion .pregunta {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#boton-postularme .btn-postulacion {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.navbar-brand>span:hover{
    color: white;
}

#publicacion .container{
    padding-top: 120px;
}

#fixit-comofunciona #stepsline {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    position: relative;
    transition: all .4s ease;
}

#fixit-comofunciona .scrolling-line {
    width: 2px;
    height: 150px;
    background: #3ac58f;
    left: 50%;
    top: 150px;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all .2s;
}

#fixit-comofunciona .line-step.right {
    clear: right;
    width: 32.20339%;
    float: right;
    margin-left: 1.69492%;
    margin-right: 5%;
    margin-top: 20px;
}

#fixit-comofunciona .line-step.focus {
    opacity: 1;
}

#fixit-comofunciona .line-step {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: all .4s;
    opacity: .5;
}

#fixit-comofunciona .step-icon {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    clear: none;
    position: relative;
    padding-bottom: 25em;
    transition: all .4s;
}

#fixit-comofunciona .step-icon {
    background-size: 150px 150px;
    background-position: center top;
}

#fixit-comofunciona .step-icon.filled svg {
    opacity: 1;
}

#fixit-comofunciona .step-icon svg {
    background: transparent;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    will-change: opacity;
}

#fixit-comofunciona .step-icon img, #fixit-comofunciona .step-icon svg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 150px;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 10;
}

#fixit-comofunciona .line-step.left {
    clear: left;
    width: 32.20339%;
    float: left;
    margin-left: 0;
    margin-left: 8%;
    margin-top: 20px;
}

#fixit-comofunciona .line-step h5 {
    font-weight: bold;
    text-transform: none;
    font-size: 20px;
    margin: 0;
    letter-spacing: 2px;
}

#fixit-comofunciona .line-step p {
    font-size: 16px;
    margin-top: 15px;
    color: grey;
}

#fixit-comofunciona .step-icon.filled .circle {
    animation-delay: .25s;
    animation-duration: .75s;
}

#fixit-comofunciona .container .col-md-12.form-container {
    background-color: white;
    margin-bottom: 30px;
}

#fixit-comofunciona .container h2 {
    letter-spacing: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

#fixit-comofunciona circle {
     stroke: #3ac58f;
 }

#fixit-comofunciona line {
    stroke: #3ac58f;
}

#fixit-comofunciona path  {
    stroke: #3ac58f;
}

#fixit-comofunciona polyline  {
      stroke: #3ac58f;
  }

#fixit-comofunciona polygon  {
    stroke: #3ac58f;
}

#fixit-comofunciona symbol  {
    stroke: #3ac58f;
}

#fixit-recomendados .container .col-md-12.form-container {
    background-color: white;
    margin-bottom: 30px;
}

#fixit-recomendados .container h2 {
    letter-spacing: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

#publicacion .card-image-container .card-image .image{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: solid 5px  rgba(211, 211, 211, 0.58);
}

#publicacion .card-image-container .card-image{
    background-color: white;
}

#publicacion .card-image-container{
    margin-left: -30px;
}

#publicacion .card-image-container .card-image .text-center{
    margin-top: 10px;
    box-shadow: none;
}

#publicacion .card-image-container .card-image.primary .btn{
    background-color: #3ac58f;
}

#publicacion .card-image-container .card-image .btn i{
    color: white;
}

a:focus{
    text-decoration: none;
}

.fixit-publicacion-image img {
    padding-top: 0;
    width: 40%;
}

.img-responsive.principal{
    width: 400px;
    height: 200px;
}

#publicacion .img-responsive.principal {
    margin: 0 auto;
    border-radius: 5px;
}

.modal-body .img-responsive.principal{
    width: 400px;
    height: 300px;
}

.carousel.slide.publicaciones{
    width: 100%;
    display: inline-block;
}

#imagenes-carrousel .fixit-publicacion-image img {
    padding-top: 0;
    width: 100%;
}

#imagenes-carrousel .img-responsive {
    margin-bottom: 15px;
}

#section-publicaciones .ifix-carousel-controls .carousel-control{
    margin-left:-100px;
    margin-right:-100px;
}

#fixit-recomendados .img-responsive.principal{
    margin-bottom: 15px;
}

#boton-postularme .btn-postulacion a{
    font-size: 20px;
    margin-bottom: -15px;
}

#postulacion-data .btn-postulacion {
    text-align: center;
    margin-top: 15px;
}






