<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body>
<div id="contratacion">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- Modal logIn-->
    <!--/*/ <th:block th:include="modals/login :: login"></th:block> /*/-->

    <!-- Foto inicial -->
    <section id="section-foto">
        <div class="jumbotron-categoria2 text-center">
            <div class="container">
                <h1 class="titulo-prin-static">CONTRATACION</h1>
            </div>
        </div>
    </section>

    <section id="section-publicaciones">
        <div class="container">
            <h3 class="subtitulo-jobs" th:text="${postulacion.publicacion.titulo}"></h3>
            <div class="job-ad-item col-md-12 col-xs-12">
                <div class=" col-md-4 col-xs-12 postulacion-info">
                    <div class="item-info">
                        <div class="item-image-box col-md-4 col-xs-12">
                            <div class="item-image prestador">
                                <img src='/images/perfil-prestador.png'
                                     onerror="this.src='/images/publicaciones/not-found.png'"
                                     alt="Image" class="img-responsive perfil-prestador">
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info col-md-8 col-xs-12">
                            <div class="datos-prestador">
                                <div class="username-prestador">
                                    <span th:text="'@'+${postulacion.usuarioPrestador.username}"></span>
                                    <img th:if="${postulacion.usuarioPrestador.prestador.validado}" src='/images/validado.png' onerror="this.src='/images/publicaciones/not-found.png'" alt="Image" class="img-validado">
                                </div>
                                <div class="calificacion-user">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span th:text="${postulacion.usuarioPrestador.calificacionPromedio}"></span>
                                </div>
                                <div class="historia-prestador">
                                    <span th:text="'Trabajos Realizados: '+${postulacion.usuarioPrestador.prestador.cantContrataciones}"></span>
                                    <span th:text="'Desde: '+${postulacion.usuarioPrestador.fechaCreacion}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="ad-info col-md-12 green-text">
                            <span><strong th:text="${postulacion.descripcion}"></strong></span>
                            <span th:text="${postulacion.comentarios}"></span>
                            <div class="ad-meta">
                                <div class="iconos-postulacion"><i class="fa fa-money" aria-hidden="true"></i> <small th:text="'Presup. Aprox: '+${postulacion.presupTrabajo}+' '+${postulacion.currency}" class="btn-price-AR"></small></div>
                                <div class="iconos-postulacion valor-a-cobrar"><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Valor Visita: '+${postulacion.presupAprox}+' '+${postulacion.currency}" class="btn-price-AR"></small></div>
                                <div class="iconos-postulacion"><i class="fa fa-calendar" aria-hidden="true"></i><small th:text="'Duración: '+${postulacion.duracionAprox}+ ' Horas'" class="btn-price-AR"></small></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 col-xs-12 select-pay-method">
                    <h3>Elija el medio de pago</h3>
                    <div class="col-md-6">
                        <a id="cash-selected" href="#">
                            <img src="/images/cash.png">

                        </a>
                        <p>Efectivo</p>
                    </div>
                    <div class="col-md-6">
                        <a id="credit-selected" href="#">
                            <img src="/images/credit.png">

                        </a>
                        <p>Tarjeta de crédito</p>
                    </div>
                </div>
                <div hidden class="col-md-8 col-xs-12 credit-card-info">
                    <div class="row" id="cardRow">
                        <form id="cartForm">
                            <div class="col-md-6 ">
                                <input type="hidden" th:value="${postulacion.id}" name="postulacionId" id="postulacionId"/>
                                <input type="hidden" name="tokenMP" id="tokenMP"/>
                                <input type="hidden" name="paymentMethodId" id="paymentMethodId"/>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="number"
                                               data-checkout="cardNumber" id="cardNumber"
                                               placeholder="Número de tarjeta"
                                               data-validation="required"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input class="form-control" type="text"
                                               id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                                               name="expiry_month" placeholder="MM"
                                               data-validation="required"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text"
                                               id="cardExpirationYear" data-checkout="cardExpirationYear"
                                               name="expiry_year" placeholder="YYYY"
                                               data-validation="required"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="cvc"
                                               id="securityCode" data-checkout="securityCode"
                                               placeholder="CVC"
                                               data-validation="required"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text"
                                               id="cardholderName" data-checkout="cardholderName"
                                               name="name" placeholder="Nombre completo"
                                               data-validation="required"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="docType">Tipo de documento:</label>
                                        <select class="form-control" id="docType" data-checkout="docType"></select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text"
                                               id="docNumber" data-checkout="docNumber"
                                               placeholder="Nro de Documento"
                                               data-validation="required" />
                                    </div>
                                </div>
                                <input type="button" id="payButton" class="btn btn-primary prestador" value="Contratar Profesional">
                            </div>
                            <div class="col-md-6" id="cardContainer"></div>
                        </form>
                    </div>

                    <p style="text-align: left;color: #b1afaf;font-size: 11px;">*El monto a cobrar será el valor de la visita. No se efectuarán cargos sobre su tarjeta hasta que el trabajo finalice y ambas partes hayan confirmado. En caso de reclamos comunicarse mediante correo electrónico y estaremos dispuesto a ayudarlo.</p>
                    <section id="boton-regresar">
                        <div class="regresar">
                            <a class="regresar-postulaciones" href="#" id="return-payMethod">
                                <h5 class="titulo-postulacion">Medios de pago</h5>
                                <i aria-hidden="true" class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                    </section>
                </div>

            </div>
        </div>

    </section>



    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</div>
</body>
<script th:inline="javascript">
    var MPPublicKey = /*[[${MPPublicKey}]]*/;
</script>
<script type="text/javascript" th:src="@{/js/contratacion-postulacion.js}"></script>
<script type="text/javascript" th:src="@{/js/mp.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.card.js}"></script>
</html>