<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body class = "body-index">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- Modal -->
    <!--/*/ <th:block th:include="modals/login :: login"></th:block> /*/-->

     <!--Sections-no-logged-->
    <!--/*/<th:block th:include="sections-no-logged :: sections-no-logged"  sec:authorize="!isAuthenticated()" ></th:block>/*/-->

    <!--Sections-logged-->
    <!--/*/<th:block th:include="sections-logged :: sections-logged"  sec:authorize="isAuthenticated()" ></th:block>/*/-->

   <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>