<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIt</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="jumbotron text-center">
        <div class="container">
            <h1>Conseguí la ayuda que necesitas</h1>
        </div>
    </div>
</body>
</html>