<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>FixIt</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="jumbotron">
        <img src="../../static/images/logo.png" width="200" alt="logo" th:src="@{/images/logo.png}" />
        <h1>FixIt</h1>

        <h2>Bienvenidos</h2>
    </div>
</div>
</body>
</html>