<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-sweetalert/sweetalert.css}"/>

</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="publicacion">

    <div class="container">
        <h2>Mi Perfil</h2>
        <h4 sec:authorize="isAuthenticated() and hasAuthority('TOMADOR')">Cliente</h4>
        <h4 sec:authorize="isAuthenticated() and hasAuthority('PRESTADOR')">Profesional</h4>
        <div class="col-md-12 form-container form-horizontal" id="perfil">

                <!--<div th:if="${#fields.hasErrors()}" class="alert alert-danger error-msg" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span>Error:</span>
                    <ul>
                        <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                            <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
                            <span th:text="${e.message}">The error message</span>
                        </li>
                    </ul>
                </div>

                <div style="display: none;" class="alert alert-danger error-msg" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span>Errores:</span>
                    <ul>
                    </ul>
                </div>-->

                <fieldset>

                    <input type="hidden" th:value="${user.id}" id="id" class="form-control input-md apiParam"/>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nombre">Nombre*</label>
                        <div class="col-md-6">
                            <input type="text" th:value="${user.nombre}" id="nombre" class="form-control input-md apiParam" required="required" th:disabled="${!user.puedeEditarse}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="apellido">Apellido*</label>
                        <div class="col-md-6">
                            <input type="text" th:value="${user.apellido}" id="apellido" class="form-control input-md apiParam" required="required" th:disabled="${!user.puedeEditarse}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email*</label>
                        <div class="col-md-6">
                            <input type="text" th:value="${user.email}" id="email" class="apiParam form-control input-md" required="required"/>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-4 control-label" for="tipodoc">Tipo documento*</label>-->
                        <!--<div class="col-md-3">-->
                            <!--<select  th:field="${tipoDoc}" id="tipodoc" class="form-control">-->
                                <!--<option th:each="doc : ${documentos}" th:value="${doc}" th:text="${doc}" th:selected="${doc.value == usuario?.tipoDoc}"></option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="documento">Número de documento*</label>
                        <div class="col-md-6">
                            <input type="text" th:value="${user.documento}" maxlength="11" id="documento" class="form-control input-md apiParam" required="required" onkeypress="return isNumber(event)" th:disabled="${!user.puedeEditarse}"/>
                        </div>
                    </div>
                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 col-xs-12 control-label" for="telefono">Celular*</label>
                        <div class="col-md-2 col-xs-5">
                            <div class="input-group">
                                <input type="hidden" />
                                <span class="input-group-addon" type="text" value="+54">+54</span>
                                <input  placeholder="011" id="codArea" maxlength="4" th:value="${user.telefono.codArea}" class="form-control apiParam" type="text" required="required" onkeypress="return isNumber(event)" th:disabled="${!user.puedeEditarse}"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-7" style="padding-left: 0px;" >
                            <input placeholder="36329860" id="telefono" th:value="${user.telefono.telefono}" maxlength="8" class="form-control apiParam" type="text" required="required" onkeypress="return isNumber(event)" th:disabled="${!user.puedeEditarse}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="provincia">Provincia*</label>
                        <div class="col-md-6">
                            <select required="required" class="form-control apiParam" id="provincia" th:disabled="${!user.puedeEditarse}">
                                <option th:each="prov : ${provincias}"  th:value="${prov.value}" th:text="${prov.label}" th:selected="${prov.value == user.ubicacion.localidad.provincia.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="localidad">Localidad*</label>
                        <div class="col-md-6">
                            <select required="required" class="form-control apiParam" id="localidad" th:disabled="${!user.puedeEditarse}">
                                <option th:fragment="localidad-fragment" th:each="loca : ${localidades}"  th:value="${loca.value}" th:text="${loca.label}" th:selected="${loca.value == user.ubicacion.localidad.id}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Nombre de Usuario*</label>
                        <div class="col-md-6">
                            <input id="username" type="text" th:value="${user.username}" class="form-control apiParam" required="required" disabled/>
                        </div>
                    </div>

                    <div id="prestador-datos" sec:authorize="isAuthenticated() and hasAuthority('PRESTADOR')">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="tipos">Tipos de Trabajo*</label>
                            <div class="col-md-6">
                                <select id="tipos" class="form-control" data-validation="required" multiple="multiple" th:disabled="${!user.puedeEditarse}">
                                    <option th:each="tipoTrabajo:${tiposTrabajo}" th:value="${tipoTrabajo.id}" th:text="${tipoTrabajo.nombre}" th:selected="${user.prestador.tipos.contains(tipoTrabajo)}">Plomeria</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="col-md-4 control-label" for="password">Nueva contraseña*</label>
                        <div class="col-md-6">
                            <input type="password" id="password" th:field="*{password}" class="form-control" autocomplete="new-password" />
                        </div>
                    </div>-->


                    <!-- Button -->
                    <div style="text-align: center;" class="submit">
                        <button class="submit button button-block btn btn-primary" id="submit" onclick="savePrestadorChanges()">Guardar cambios</button>
                        <button sec:authorize="isAuthenticated() and hasAuthority('TOMADOR')" class="submit button button-block btn btn-primary" id="changeToPrestador" th:onclick="${'perfilPrestador('+(user.prestador!=null)+')'}">Cambiar a profesional</button>
                        <button sec:authorize="isAuthenticated() and hasAuthority('PRESTADOR')" class="submit button button-block btn btn-primary" id="changeToTomador" th:onclick="${'perfilTomador('+(user.tomador!=null)+')'}">Cambiar a cliente</button>
                        <button sec:authorize="isAuthenticated() and hasAuthority('PRESTADOR')" th:if="${!user.prestador?.validado}" class="submit button button-block btn btn-primary" id="validarAfip" onclick="savePrestadorChanges()">Validar AFIP</button>
                    </div>

                </fieldset>

        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" th:src="@{/bootstrap-sweetalert/sweetalert.min.js}"></script>
<script>
    $("#tipos").select2();

    $("#localidad").load('/usuario/ajax/localidad', "provincia="+$("#provincia").val());
    $('#provincia').on('change', function() {
        $("#localidad").load('/usuario/ajax/localidad', "provincia="+$("#provincia").val());
    });

    function savePrestadorChanges(){
        $.ajax({
            type: 'POST',
            url: '/usuario/editar',
            data: getParamsForAjax("#perfil"),
            async: true,
            success: function(message){
                if(message.success){
                    swal("Cambios guardados!", message.msg, "success")
                }else{
                    swal("Error", message.msg, "error")
                }
            }
        });
    }

    function perfilPrestador(exists) {
        if(!exists){
            showPerfilPrestadorDialog();
            //redirect('/usuario/crearPerfilProfesional');
        }else{
            cambiarRol("PRESTADOR");
        }
    }

    function cambiarRol(rol){
        $.ajax({
            type: 'POST',
            url: '/usuario/cambiarRol',
            data: {
                id: $("#id").val(),
                rol: rol
            },
            async: true,
            success: function(message){
                if(message.success){
                    redirect("/usuario/perfil");
                }else{
                    swal("Error", message.msg, "error")
                }
            }
        });
    }

    function perfilTomador(exists) {
        if(!exists) {
            $.ajax({
                type: 'POST',
                url: '/usuario/crearPerfilTomador',
                data: {
                    id: $("#id").val()
                },
                async: true,
                success: function(message){
                    if(message.success){
                        redirect("/usuario/perfil");
                    }else{
                        swal("Error", message.msg, "error")
                    }
                }
            });
        }else {
            cambiarRol("TOMADOR");
        }
    }

    function showPerfilPrestadorDialog() {
        $.ajax({
            type: 'POST',
            url: '/signup/ajax/tiposTrabajo',
            //data: {},
            async: true,
            success: function(data) {
                    var $content = $('<div class="row" style="margin-left: 0;">' +
                        '            <div class="form-group">' +
                        '                <label class="col-sm-4 control-label">Tipos de Trabajo:</label>' +
                        '                <div class="col-sm-6">' +
                        '                    <select id="newPrestador_TipoTrabajo" class="form-control" multiple="multiple">' +
                        '                    </select>' +
                        '                </div>' +
                        '            </div>' +
                        '        </div>');
                    if (data.length != 0) {
                        $.each(data, function (index, b) {
                            $content.find('#newPrestador_TipoTrabajo').append($("<option></option>").attr("value", b.value).text(b.label));
                        });

                        BootstrapDialog.show({
                            title: 'Crear Perfil Profesional',
                            message: $content,
                            buttons: [{
                                label: 'Aceptar',
                                action: function (dialog) {
                                    if($("#newPrestador_TipoTrabajo").val().length === 0){
                                        swal("Error", "Todos los campos son obligatorios.", "error")
                                    }
                                    $.ajax({
                                        type: 'POST',
                                        url: '/usuario/crearPerfilPrestador',
                                        data: {
                                            id: $("#id").val(),
                                            tiposTrabajo: $("#newPrestador_TipoTrabajo").val()
                                        },
                                        async: true,
                                        success: function(message){
                                            if(message.success){
                                                redirect("/usuario/perfil");
                                            }else{
                                                swal("Error", message.msg, "error")
                                            }
                                        }
                                    });
                                }
                            }],
                            onshown: function(dialogRef){
                                $("#newPrestador_TipoTrabajo").select2();
                            },
                        });
                    } else {
                        swal("Error", message.msg, "error")
                    }
            }
        });
    }

    function getParamsForAjax(fieldContainerReference){
        var params = [];
        $(fieldContainerReference)
            .find('.apiParam')
            .each(
                function(){
                    var campo = $(this).attr('id');
                    if ($(this).is(':checkbox')) {
                        params.push( '"'+campo +'":"'+ $(this).prop('checked') + '"' );
                    }else{
                        params.push( '"'+campo +'":"'+ $(this).val() + '"' );
                    }

                }
            );
        return JSON.parse( '{' + params.join() + '}');
    }

    function redirect(redirectURL){
        window.location.href = redirectURL;
    }

</script>
</html>