<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:src="@{/js/postulacion-list.js}"></script>
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<section id="section-publicaciones" class="public-list">
    <div class="container">
        <div class="col-md-12 form-container">
            <h3 class="subtitulo-jobs">Mis Postulaciones</h3>
            <div class="section latest-jobs-ads">
                <div class="section-title tab-manu">
                    <h4>Estado Postulaciones</h4>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#nuevas" data-toggle="tab" aria-expanded="true">Nuevas</a></li>
                        <li role="presentation" class=""><a href="#contratadas" data-toggle="tab" aria-expanded="false">Contratadas</a></li>
                        <li role="presentation" class=""><a href="#finalizadas" data-toggle="tab" aria-expanded="false">Finalizadas</a></li>
                        <li role="presentation" class=""><a href="#rechazadas" data-toggle="tab" aria-expanded="false">Rechazadas</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="nuevas">
                        <div th:if="${#lists.isEmpty(postulacionesNuevas)}">
                            <h3>No hay postulaciones nuevas</h3>
                        </div>
                        <div class="job-ad-item" th:each="nueva : ${postulacionesNuevas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <a th:href="'/postulacion/edit/'+${nueva.id}">
                                        <img th:src="'/multimedia/image/'+${nueva.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo"></a>
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info tab-nuevas fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${nueva.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${nueva.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${nueva.publicacion.localidad.nombre}+', '+${nueva.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${nueva.presupAprox}+' '+${nueva.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${nueva.duracionAprox} + ' Horas'" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${nueva.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${nueva.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a th:href="'/postulacion/detalle/'+${nueva.id}" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                    <div class="edit-delete">
                                        <a th:href="'/postulacion/edit/'+${nueva.id}"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                                        <a class="deletePostulacion" th:href="'/postulacion/delete/'+${nueva.id}"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="contratadas">
                        <div th:if="${#lists.isEmpty(postulacionesContratadas)}">
                            <h3>No hay postulaciones contratadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="contratada : ${postulacionesContratadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${contratada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${contratada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${contratada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${contratada.publicacion.localidad.nombre}+', '+${contratada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${contratada.presupAprox}+' '+${contratada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${contratada.duracionAprox}" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${contratada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${contratada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="finalizadas">
                        <div th:if="${#lists.isEmpty(postulacionesFinalizadas)}">
                            <h3>No hay postulaciones finalizadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="finalizada : ${postulacionesFinalizadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${finalizada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${finalizada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${finalizada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${finalizada.publicacion.localidad.nombre}+', '+${finalizada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${finalizada.presupAprox}+' '+${finalizada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${finalizada.duracionAprox}" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${finalizada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${finalizada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="rechazadas">
                        <div th:if="${#lists.isEmpty(postulacionesRechazadas)}">
                            <h3>No hay postulaciones rechazadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="rechazada : ${postulacionesRechazadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${rechazada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${rechazada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${rechazada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${rechazada.publicacion.localidad.nombre}+', '+${rechazada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${rechazada.presupAprox}+' '+${rechazada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${rechazada.duracionAprox}" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${rechazada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${rechazada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                </div><!-- tab-content -->
            </div>
        </div>
    </div>
</section>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>