<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:src="@{/js/postulacion-list.js}"></script>
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<section id="section-publicaciones" class="public-list">
    <div class="container">
        <div class="col-md-12 form-container">
            <h3 class="subtitulo-jobs">Mis Postulaciones</h3>
            <div class="section latest-jobs-ads">
                <div class="section-title tab-manu">
                    <h4>Estado Postulaciones</h4>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#nuevas" data-toggle="tab" aria-expanded="true">Nuevas</a></li>
                        <li role="presentation" class=""><a href="#contratadas" data-toggle="tab" aria-expanded="false">Contratadas</a></li>
                        <li role="presentation" class=""><a href="#finalizadas" data-toggle="tab" aria-expanded="false">Finalizadas</a></li>
                        <li role="presentation" class=""><a href="#rechazadas" data-toggle="tab" aria-expanded="false">Rechazadas</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="nuevas">
                        <div th:if="${#lists.isEmpty(postulacionesNuevas)}">
                            <h3>No hay postulaciones nuevas</h3>
                        </div>
                        <div class="job-ad-item" th:each="nueva : ${postulacionesNuevas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <a th:href="'/postulacion/edit/'+${nueva.id}">
                                        <img th:src="'/multimedia/image/'+${nueva.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo"></a>
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info tab-nuevas fixit-job-box postulacion-desc col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${#strings.capitalize(nueva.descripcion)}"></strong></span>
                                    </p>
                                    <span th:text="${nueva.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${nueva.publicacion.localidad.nombre}+', '+${nueva.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="${nueva.presupAprox}+' '+${nueva.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${nueva.duracionAprox} + ' Horas'" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${nueva.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${nueva.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a th:href="'/postulacion/detalle/'+${nueva.id}" class="btn btn-primary tam-boton-100">Consultas al Cliente y más Información</a>
                                    <div class="edit-delete">
                                        <a th:href="'/postulacion/edit/'+${nueva.id}"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                                        <a class="deletePostulacion" th:href="'/postulacion/delete/'+${nueva.id}"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="contratadas">
                        <div th:if="${#lists.isEmpty(postulacionesContratadas)}">
                            <h3>No hay postulaciones contratadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="contratada : ${postulacionesContratadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${contratada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${contratada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${contratada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${contratada.publicacion.localidad.nombre}+', '+${contratada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="${contratada.presupAprox}+' '+${contratada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${contratada.duracionAprox}+ ' Horas'" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${contratada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${contratada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a th:href="'/contratar/detalle/'+${contratada.publicacion.id}" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                    <a th:if="${contratada.prestadorPuedeCalificar}" th:onclick="${'modalCalificar('+contratada.id+')'}" class="btn btn-primary tam-boton-100">Calificar</a>
                                    <a th:unless="${contratada.prestadorPuedeCalificar}" disabled="disabled" class="btn btn-primary tam-boton-100" th:text="${'Ya calificaste ('+contratada.contratacion?.calificacionPrestador+')'}">Ya calificó</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="finalizadas">
                        <div th:if="${#lists.isEmpty(postulacionesFinalizadas)}">
                            <h3>No hay postulaciones finalizadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="finalizada : ${postulacionesFinalizadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${finalizada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${finalizada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${finalizada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${finalizada.publicacion.localidad.nombre}+', '+${finalizada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="${finalizada.presupAprox}+' '+${finalizada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${finalizada.duracionAprox}" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${finalizada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${finalizada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                    <a th:href="'/contratar/detalle/'+${finalizada.publicacion.id}" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="rechazadas">
                        <div th:if="${#lists.isEmpty(postulacionesRechazadas)}">
                            <h3>No hay postulaciones rechazadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="rechazada : ${postulacionesRechazadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${rechazada.publicacion.primaryImage?.id}"
                                             onerror="this.src='/images/publicaciones/not-found.png'"
                                             alt="Image" class="img-tipotrabajo">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${rechazada.descripcion}"></strong></span>
                                    </p>
                                    <span th:text="${rechazada.comentarios}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${rechazada.publicacion.localidad.nombre}+', '+${rechazada.publicacion.provincia.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="${rechazada.presupAprox}+' '+${rechazada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-clock-o" aria-hidden="true"></i><small th:text="${rechazada.duracionAprox}" class="btn-price-AR"></small>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <div class="tipo-trabajo-postulacion">
                                        <img th:src="@{/images/}+${rechazada.publicacion.tipoTrabajo.imagen}" class="img-responsive icon-tipotrabajo">
                                        <span th:text="${rechazada.publicacion.tipoTrabajo.nombre}">asdasd</span>
                                    </div>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                </div><!-- tab-content -->
            </div>
        </div>
    </div>
</section>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
<script>
    function modalCalificar(postulacionId) {
        var $content = $('<div class="row" style="margin-left: 0;">' +
            '            <div class="form-group">' +
            '                <label class="col-sm-3 control-label">Calificación:</label>' +
            '<div class="col-sm-8"><div id="rateYo"></div></div>' +
            '            </div>' +
            '        </div>');

        BootstrapDialog.show({
            title: 'Calificar cliente',
            message: $content,
            buttons: [{
                label: 'Aceptar',
                action: function (dialog) {
                    $.ajax({
                        type: 'POST',
                        url: '/contratar/calificarPagarPrestador',
                        data: {
                            postulacionId: postulacionId,
                            calificacion: $("#rateYo").rateYo("rating")
                        },
                        async: true,
                        success: function(message){
                            $.LoadingOverlay("hide");
                            if(message.success){
                                BootstrapDialog.show({
                                    title: 'Calificación Exitosa ',
                                    message:  message.msg,
                                    buttons: [{
                                        label: 'Ok',
                                        action: function (e) {
                                            redirect("/postulacion/list");
                                         }
                                    }]
                                });
                            }else{
                                swal("Error", message.msg, "error")
                            }
                        }
                    });

                    $.LoadingOverlay("show");
                }
            }],
            onshown: function(dialogRef){
                dialogRef.getModalBody().find('#rateYo').rateYo({
                    halfStar: true,
                    spacing: "5px",
                    ratedFill: "#3ac58f",
                    normalFill: "#dddddd",
                    "starSvg": "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z'/></svg>"
                });
            },
        });
    }

    function redirect(redirectURL){
        window.location.href = redirectURL;
    }
</script>
</html>