<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="postulacion">
    <div class="container">

        <h3 class="subtitulo-jobs">Postulación</h3>

        <div class="col-md-12 form-container">
            <row>
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <form id="postulacion-data"  th:action="@{/postulacion/}+${form_action}" th:object="${postulacion}" method="post" role="form">
                        <input type="hidden" th:field="*{id}" class="apiParam">
                        <div class="form-group col-md-8 price">
                            <label for="presupAprox">Valor de la Visita *</label>
                            <input type="number" th:field="*{presupAprox}"
                                   id="presupAprox"
                                   class="form-control input-md apiParam"
                                   step="0.01"/>
                            <select th:field="*{currencyCode}" class="form-control apiParam" id="currencyCode">
                                <option th:each="c : ${currencies}" th:value="${c}" th:text="${c}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="duracionAprox">Duración Aproximada del Trabajo *</label>
                            <div class="input-group">
                                <input type="number" th:field="*{duracionAprox}"
                                       id="duracionAprox"
                                       class="form-control input-md apiParam"
                                       step="0.01"/>
                                <span class="input-group-addon" type="text" value="Horas">Horas</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="descripcion">Descripción *</label>
                            <textarea th:field="*{descripcion}" class="form-control apiParam" id="descripcion"/>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="comentarios">Comentarios adicionales</label>
                            <textarea class="form-control apiParam" th:field="*{comentarios}" id="comentarios"/>
                        </div>

                        <!-- Button -->
                        <div class="form-group col-md-12 btn-postulacion">
                            <button class="submit button button-block btn btn-primary btn-aceptar" id="guardar-postulacion">Confirmar</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <!-- Datos Publicacion -->
                    <section id="datos-publicacion">
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">Qué hay que hacer?</h4>
                        </div>
                        <h3 class="modal-descripcion publicaciones" th:text="${publicacion.descripcion}"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">Dónde?</h4>
                        </div>
                        <h3 class="modal-ubicacion publicaciones"  th:text="${publicacion.localidad.nombre+', '+publicacion.provincia.nombre}" ></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion"  >Cuánto quiere gastar?</h4>
                        </div>
                        <h3 class="modal-precio publicaciones" th:text="${'Hasta '+publicacion.presupMax+' '+publicacion.currency}"></h3>
                        <div th:if="${publicacion.fecha != null}">
                            <div class="pregunta">
                                <div class="icons-publicacion-detalle"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <h4 class="preguntas-publicacion">Cuándo lo necesita?</h4>
                            </div>
                            <h3 class="modal-urgencia modal-fecha publicaciones"  th:text="${publicacion.fecha.dayOfMonth+'/'+publicacion.fecha.monthValue+'/'+publicacion.fecha.year}"></h3>
                        </div>
                        <div th:if="${publicacion.fecha == null}">
                            <div class="pregunta">
                                <div class="icons-publicacion-detalle"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <h4 class="preguntas-publicacion">Cuándo lo necesito?</h4>
                            </div>
                            <h3 class="modal-urgencia modal-fecha publicaciones"  th:text="${publicacion.urgencia}"></h3>
                        </div>

                    </section>
                </div>

            </row>

        </div>
    </div>
</div>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
<script>
    $("#guardar-postulacion").click(function (e) {
        var form = $("#postulacion-data");
        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: form.serialize(),
            async:true,
            success: function(message){
                $.LoadingOverlay("hide");
                if(message.success){
                    swal({
                        title: "Postulación guardada!",
                        text: message.msg,
                        type: "success",
                    },function () {
                        window.location.href="/postulacion/list";
                    });
                }else{
                    swal("Error", message.msg, "error");
                }
            },
            error: function ( message){
                $.LoadingOverlay("hide");
                swal("Error", message.msg, "error");
            }
        });
        $.LoadingOverlay("show");
        e.preventDefault();
    });


//    function getParamsForAjax(fieldContainerReference){
//        var params = [];
//        $(fieldContainerReference)
//            .find('.apiParam')
//            .each(
//                function(){
//                    var campo = $(this).attr('id');
//                    if ($(this).is(':checkbox')) {
//                        params.push( '"'+campo +'":"'+ $(this).prop('checked') + '"' );
//                    }else{
//                        params.push( '"'+campo +'":"'+ $(this).val() + '"' );
//                    }
//
//                }
//            );
//        return JSON.parse( '{' + params.join() + '}');
//    }
</script>
</html>