<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-sweetalert/sweetalert.css}"/>
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="publicacion">
    <div class="container">
        <div class="col-md-12 form-container">

            <h2>Postulación</h2>

            <row>
                <div class="col-sm-4">
                    <h4 class="modal-title publicaciones" th:text="${publicacion.titulo}">Caño roto en baño</h4>
                    <!-- Datos Publicacion -->
                    <section id="datos-publicacion">
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">¿Qué hay que hacer?</h4>
                        </div>
                        <h3 class="modal-descripcion publicaciones" th:text="${publicacion.descripcion}"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">¿Dónde?</h4>
                        </div>
                        <h3 class="modal-ubicacion publicaciones" th:text="${publicacion.localidad.nombre + ', ' + publicacion.localidad.provincia.nombre}"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">¿Cuánto quiere gastar?</h4>
                        </div>
                        <h3 class="modal-precio publicaciones" th:text="${'Hasta '+publicacion.presupMax + ' ' + publicacion.currency}"></h3>
                        <div class="pregunta">
                            <div class="icons-publicacion-detalle"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <h4 class="preguntas-publicacion">¿Cuándo lo necesita?</h4>
                        </div>
                        <h3 class="modal-urgencia modal-fecha publicaciones" th:text="${publicacion.urgencia}"></h3>
                    </section>
                </div>
                <div class="col-sm-8">
                        <!--<div th:if="${#fields.hasErrors()}" class="alert alert-danger error-msg" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span>Error:</span>
                            <ul>
                                <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                    <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
                                    <span th:text="${e.message}">The error message</span>
                                </li>
                            </ul>
                        </div>-->

                        <fieldset id="postulacion-data">
                            <input type="hidden" id="postulacionId" th:value="${postulacion?.id}" class="apiParam">
                            <input type="hidden" id="publicacionId" th:value="${publicacion.id}" class="apiParam">

                            <div class="form-group col-md-12">
                                <label for="descripcion">Descripción *</label>
                                <textarea class="form-control apiParam" th:value="${postulacion?.descripcion}"
                                          id="descripcion"/>
                            </div>

                            <div class="form-group col-md-6 price">
                                <label for="presupAprox">Presupuesto Aproximado *</label>
                                <input type="number" th:value="${postulacion?.presupAprox}"
                                       id="presupAprox"
                                       class="form-control input-md apiParam"
                                       step="0.01"/>

                                <select id="currencyCode" class="form-control apiParam">
                                    <option th:each="c: ${currencies}" th:id="${c}" th:value="${c}" th:text="${c}" th:selected="${c == postulacion?.currency}"></option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="duracionAprox">Duración Aproximada *</label>
                                <div class="input-group">
                                    <input type="number" th:value="${postulacion?.duracionAprox}"
                                           id="duracionAprox"
                                           class="form-control input-md apiParam"
                                           step="0.01"/>
                                    <span class="input-group-addon" type="text" value="Horas">Horas</span>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="comentarios">Comentarios adicionales</label>
                                <textarea class="form-control apiParam" th:value="${postulacion?.comentarios}"
                                          id="comentarios"/>
                            </div>

                            <!-- Button -->
                            <div class="form-group col-md-12 btn-postulacion">
                                <button class="submit button button-block btn btn-primary btn-aceptar" onclick="savePostulacion()">Confirmar</button>
                            </div>

                        </fieldset>
                </div>
            </row>

        </div>
    </div>
</div>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
<script type="text/javascript" th:src="@{/bootstrap-sweetalert/sweetalert.min.js}"></script>
<script>
    function savePostulacion(){
        if(!isPostulacionValid()){
            swal("Error", "Complete todos los campos marcados con *.", "error");
            return;
        }else{
            $.ajax({
                type: 'POST',
                url: '/postulacion/createPostulacion',
                data: getParamsForAjax("#postulacion-data"),
                async: true,
                success: function(message){
                    if(message.success){
                        swal("Postulación guardada!", message.msg, "success")
                        window.location.href = "/postulacion/list";
                    }else{
                        swal("Error", message.msg, "error")
                    }
                }
            });
        }
    }

    function isPostulacionValid(){
        if($("#descripcion").val()==""){
            return false;
        }
        if($("#presupAprox").val()=="" || $("#presupAprox").val()<=0){
            return false;
        }
        if($("#duracionAprox").val()=="" || $("#duracionAprox").val()<=0){
            return false;
        }
        return true;
    }

    function getParamsForAjax(fieldContainerReference){
        var params = [];
        $(fieldContainerReference)
            .find('.apiParam')
            .each(
                function(){
                    var campo = $(this).attr('id');
                    if ($(this).is(':checkbox')) {
                        params.push( '"'+campo +'":"'+ $(this).prop('checked') + '"' );
                    }else{
                        params.push( '"'+campo +'":"'+ $(this).val() + '"' );
                    }

                }
            );
        return JSON.parse( '{' + params.join() + '}');
    }
</script>
</html>