<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap-fileinput/css/fileinput.min.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-sweetalert/sweetalert.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-fileinput/js/fileinput_locale_es.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-sweetalert/sweetalert.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/publicacion.js}"></script>
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="publicacion">
        <div class="container">
            <div class="col-md-12 form-container">

                <h2>Publicación</h2>

                <form id="publicacion-form" th:action="@{/publicacion/}+${form_action}" th:object="${publicacion}" method="post" role="form" th:class="${form_action}+' form-horizontal col-xs-12 col-md-10 col-md-offset-1'">

                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger error-msg" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>Error:</span>
                        <ul>
                            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
                                <span th:text="${e.message}">The error message</span>
                            </li>
                        </ul>
                    </div>

                    <fieldset>
                        <input type="hidden" id="publicacionId" th:field="*{id}">

                        <div class="form-group col-md-12">
                            <label for="titulo">Título</label>
                            <input type="text" th:field="*{titulo}"
                                   id="titulo" class="form-control input-md"
                                   data-validation="required length"
                                   data-validation-length="max40"/>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" th:field="*{descripcion}"
                                      id="descripcion" rows="5"
                                      data-validation="required length"
                                      data-validation-length="max100"/>
                        </div>

                        <div class="form-group col-md-6 col-xs-12">
                            <label for="provincia">Provincia</label>
                            <select th:field="*{provincia}" class="form-control" id="provincia">
                                <option th:each="prov : ${provincias}"  th:value="${prov.value}" th:text="${prov.label}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-6 col-xs-12">
                            <label for="localidad">Localidad</label>
                            <select th:field="*{localidad}" class="form-control" id="localidad">
                                <option th:fragment="localidad-fragment" th:each="loca : ${localidades}"  th:value="${loca.value}" th:text="${loca.label}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="urgencia">¿Cuándo querés hacer el trabajo?</label>
                            <select  th:field="*{urgencia}" id="urgencia" class="form-control">
                                <option th:each="u: ${urgencias}" th:id="${u.ordinal()}" th:value="${u}" th:text="${u.getNameUrgencia(u)}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="fecha">Fecha</label>
                            <input type="text" th:field="*{fecha}"
                                   id="fecha" class="datepicker form-control input-md"
                                   data-validation="date"
                                   data-validation-format="mm-dd-yyyy"
                                   th:disabled="${fecha == null}"/>
                        </div>

                        <div class="form-group col-md-6 price">
                            <label for="presupMax">Presupusto Máximo </label>
                            <input type="text" th:field="*{presupMax}"
                                   id="presupMax"
                                   class="form-control input-md"
                                   data-validation="required number"
                                   data-validation-allowing="range[1;1000000] float"
                                   data-validation-decimal-separator="."/>

                            <select  th:field="*{currencyCode}" id="currencyCode" class="form-control">
                                <option th:each="c: ${currencies}" th:id="${c}" th:value="${c}" th:text="${c}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="tiempoPublicacion">Duración de la publicación</label>
                            <select  th:field="*{tiempoPublicacion}" id="tiempoPublicacion" class="form-control">
                                <option th:each="t: ${tiempos}" th:value="${t}" th:text="${t.getName(t)}" ></option>
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="tipoTrabajo">Categoría</label>
                            <select  th:field="*{tipoTrabajo}" id="tipoTrabajo" class="form-control">
                                <option th:each="item: ${tipos}" th:value="${item.id}" th:text="${item.nombre}"/>
                            </select>
                        </div>

                        <input type="hidden" id="imageSize" th:value="${publicacion?.publicacionFotoForms?.size()}">
                        <div class="form-group col-md-12" id="file-input-container">
                            <label class="control-label" for="input-images">Imágenes</label>
                            <div class="col-md-12 card-image-container" th:if="${publicacion?.publicacionFotoForms?.size()>0} ">

                                <div class="col-md-3 card-image" th:each="foto : ${publicacion.publicacionFotoForms}">
                                    <div class="col-md-12 image">
                                        <img th:src="'/multimedia/image/'+${foto.id}" class="img-responsive margin-standard">
                                    </div>
                                    <div class="col-md-12 panel text-center">
                                        <button type="button" class="btn btn-profile btn-fab btn-raised" th:classappend="${foto.isCover()} ? primary : ''" th:attr="data-publicicacion-image-id=${foto.id}">
                                            <i class="fa fa-star-o "></i></button>
                                    </div>
                                </div>
                            </div>
                            <input th:if="${form_action == 'new'}" id="input-images" type="file" name="inputFiles" multiple class="file-loading">
                        </div>

                        <!-- Button -->
                        <div class="form-group col-md-12 btn-publicacion">
                            <button class="submit button button-block btn btn-primary btn-aceptar" id="submit-p">Publicar</button>
                        </div>

                    </fieldset>

                </form>

            </div>
        </div>
</div>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>