<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="publicacion">

    <div class="container">
            <h2>Mis Publicaciones</h2>
        <div class="col-md-12 form-container">
            <div class="">
                <a href="/publicacion/new" class="button btn btn-primary">Nueva Publicación</a>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>