<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:src="@{/js/publicacion-list.js}"></script>
</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<section id="section-publicaciones" class="public-list">
    <div class="container">
        <div class="col-md-12 form-container">
            <h3 class="subtitulo-jobs">Mis Publicaciones</h3>
            <div class="section latest-jobs-ads">
                <div class="section-title tab-manu">
                    <h4>Estado Publicaciones</h4>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#nuevas" data-toggle="tab" aria-expanded="true">Nuevas</a></li>
                        <li role="presentation" class=""><a href="#contratadas" data-toggle="tab" aria-expanded="false">Contratadas</a></li>
                        <li role="presentation" class=""><a href="#finalizadas" data-toggle="tab" aria-expanded="false">Finalizadas</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="nuevas">
                        <div th:if="${#lists.isEmpty(publicacionesNuevas)}">
                            <h3>No hay publicaciones nuevas</h3>
                        </div>
                        <div class="job-ad-item" th:each="nueva : ${publicacionesNuevas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <a th:href="'/publicacion/edit/'+${nueva.id}" th:onclick="'return '+${nueva.canEdit}"">
                                            <img th:src="'/multimedia/image/'+${nueva.primaryImage?.id}"
                                                 onerror="this.src='/images/publicaciones/not-found.png'"
                                                 alt="Image" class="img-responsive"></a>
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                    <span><strong th:text="${nueva.titulo}"></strong></span>
                                    </p>
                                    <span th:text="${nueva.descripcion}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${nueva.localidad?.nombre}+', '+${nueva.provincia?.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${nueva.presupMax}+' '+${nueva.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i><small th:text="${nueva.urgencia}" class="btn-price-AR"></small>
                                                <small th:text="${nueva.fecha}" class="btn-price-AR"></small></li>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Postulaciones</a>
                                    <div class="edit-delete">
                                    <a th:href="'/publicacion/edit/'+${nueva.id}" th:onclick="'return '+${nueva.canEdit}"><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                                    <a class="deletePublicacion" th:href="'/publicacion/delete/'+${nueva.id}"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar </a>
                                    </div>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="contratadas">
                        <div th:if="${#lists.isEmpty(publicacionesContratadas)}">
                            <h3>No hay publicaciones contratadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="contratada : ${publicacionesContratadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${contratada.primaryImage?.id}" alt="Image" class="img-responsive">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${contratada.titulo}"></strong></span>
                                    </p>
                                    <span th:text="${contratada.descripcion}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${contratada.localidad?.nombre}+', '+${contratada.provincia?.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${contratada.presupMax}+' '+${contratada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i><small th:text="${contratada.urgencia}" class="btn-price-AR"></small>
                                                <small th:text="${contratada.fecha}" class="btn-price-AR"></small></li>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="finalizadas">
                        <div th:if="${#lists.isEmpty(publicacionesFinalizadas)}">
                            <h3>No hay publicaciones finalizadas</h3>
                        </div>
                        <div class="job-ad-item" th:each="finalizada : ${publicacionesFinalizadas}">
                            <div class="item-info">
                                <div class="item-image-box col-md-2">
                                    <div class="item-image">
                                        <img th:src="'/multimedia/image/'+${finalizada.primaryImage?.id}" onerror="this.src='/images/publicaciones/not-found.png'" alt="Image" class="img-responsive">
                                    </div><!-- item-image -->
                                </div>

                                <div class="ad-info fixit-job-box col-md-7">
                                    <p class="installationType">
                                        <span><strong th:text="${finalizada.titulo}"></strong></span>
                                    </p>
                                    <span th:text="${finalizada.descripcion}"></span>
                                    <div class="ad-meta">
                                        <ul>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <small th:text="${finalizada.localidad?.nombre}+', '+${finalizada.provincia?.nombre}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-credit-card" aria-hidden="true"></i> <small th:text="'Hasta '+${finalizada.presupMax}+' '+${finalizada.currency}" class="btn-price-AR"></small></li>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i><small th:text="${finalizada.urgencia}" class="btn-price-AR"></small>
                                                <small th:text="${finalizada.fecha}" class="btn-price-AR"></small></li>
                                        </ul>
                                    </div><!-- ad-meta -->
                                </div><!-- ad-info -->

                                <div class="button col-md-3">
                                    <a href="#" class="btn btn-primary tam-boton-100">Ver Detalle</a>
                                </div>
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div><!-- tab-pane -->

                </div><!-- tab-content -->
            </div>
        </div>
    </div>
</section>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>