<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>FixIT</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <script type="text/javascript" th:src="@{/js/publicacion.js}"></script>

</head>
<body class="white-body">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div id="publicacion">

        <div class="container">

            <h3>Nueva Publicación</h3>

            <div class="col-md-12 form-container">

                <form th:action="@{/publicacion/}+${form_action}" th:object="${publicacion}" method="post" role="form" class="form-horizontal col-md-10 col-md-offset-1">

                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger error-msg" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>Error:</span>
                        <ul>
                            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
                                <span th:text="${e.message}">The error message</span>
                            </li>
                        </ul>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <input type="text" th:field="*{titulo}"
                                   id="titulo" class="form-control input-md"
                                   data-validation="required length"
                                   data-validation-length="max40"/>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" th:field="*{descripcion}"
                                      id="descripcion" rows="5"
                                      data-validation="required length"
                                      data-validation-length="max100"/>
                        </div>

                        <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <select th:field="*{provincia}" class="form-control" id="provincia">
                                <option th:each="prov : ${provincias}"  th:value="${prov.value}" th:text="${prov.label}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="localidad">Localidad</label>
                            <select th:field="*{localidad}" class="form-control" id="localidad">
                                <option th:fragment="localidad-fragment" th:each="loca : ${localidades}"  th:value="${loca.value}" th:text="${loca.label}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tiempoPublicacion">Duración de la publicación</label>
                                <select  th:field="*{tiempoPublicacion}" id="tiempoPublicacion" class="form-control">
                                    <option th:each="t: ${tiempos}" th:value="${t}" th:text="${t.getName(t)}" ></option>
                                </select>
                        </div>

                        <div class="form-group">
                            <label for="presupMax">Presupusto Máximo (ars)</label>
                            <input type="text" th:field="*{presupMax}"
                                   id="presupMax"
                                   class="form-control input-md"
                                   data-validation="required number"
                                   data-validation-allowing="range[1;10000] float"
                                   data-validation-decimal-separator=","/>
                        </div>

                        <div class="form-group">
                            <label for="tiposTrabajo">Categorías</label>
                            <div class="section category-items job-category-items  text-center">
                                <div data-toggle="buttons" class="btn-group category-list" id="tiposTrabajo">
                                    <label class="category-item" th:each="item: ${tipos}">
                                            <input type="radio" th:field="*{tiposTrabajo}" th:value="${item.id}" display="hidden" />
                                            <div class="category-icon">
                                                <img th:src="'/images/'+${item.imagen}" alt="images" class="img-responsive"/>
                                            </div>
                                            <span class="category-title" th:text="${item.nombre}"></span>
                                    </label><!-- category-item -->
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <button type="submit" class="submit button button-block btn btn-primary btn-aceptar" id="submit">Crear</button>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
</div>


<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>