<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sections-logged">
    <!-- Búsqueda -->
    <section id="section-foto"> <div class="jumbotron text-center">
            <div class="container">
                <h1 class="titulo-prin">La solución que necesitas al alcance de un click</h1>
                <div class="searchBar col-md-8 col-md-center" >
                    <form  th:action="@{/publicaciones}" method="get" >
                        <div class="dropdown-searchBar">
                            <div class="search-container">
                                <input type="search" value="" autocomplete="off" role="combobox"
                                       aria-autocomplete="list" aria-owns="react-autowhatever-1"
                                       aria-expanded="false" name="search" id="search" placeholder="¿Qué estás buscando?">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="categories">
                    <h3 class="banner-busqueda">
                        <span>o elegí de algunas de las categorías de abajo.</span>
                    </h3>
                    <ul class="list-block">
                        <li class="list-block__item"  th:each="item: ${tipotrabajos}">
                            <a class="category-a" th:href="'/publicaciones/'+${item.TipoTrabajo.slug}">
                                <div class="category-description">
                                    <h2 th:text="${item.TipoTrabajo.nombre}"/>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="scroll-icon center-block text-center scroll-down-link searchbychar" href="#section-Categorias" data-target="section-Categorias" >
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>