<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FixIT</title>
    <style type="text/css">
        @-ms-viewport {
            width: device-width;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; min-width: 100%; ">
<center style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <div style="max-width: 600px;">
        <table cellspacing="0" class="outer" align="center" style="background-color: #d0d0d0; border-spacing: 0; font-family: sans-serif; color: #000; margin: 40px auto 0px; width: 100%; max-width: 600px; border-collapse: collapse; text-align: center; font-family: Helvetica, Arial, sans-serif">
            <tr>
                <td>
                    <img th:src="${urlImages}+'/logo.png'">
                    <h1 style="font-size: 70px; line-height: 70px; color: #0b2266; -webkit-margin-before: 0; -webkit-margin-after: 0; font-weight: 600; margin-top: 45px;">
                        Bienvenido<br>
                        <span style="color: #69a2ce" th:text="${name}">Nombre</span>
                    </h1>
                    <p style="font-size: 32px; color: #636363; -webkit-margin-before: 0; -webkit-margin-after: 0; font-weight: 400; margin-top: 45px;">
                        Gracias por registrarte en Fixit.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a target="_blank" th:href="${link}" style="background-color: #4cc2bc; color: #fff; display: inline-block; margin: 50px auto; font-size: 18px; font-weight: 600; border-radius: 3px; width: 180px; height: 50px; line-height: 50px;  text-decoration: none;">Confirmar Refirstro</a>
                    <br>
                    <hr style="width: 268px; -webkit-margin-before: 0; -webkit-margin-after: 0; border-top: 0; border-bottom: 1px solid #ececec;">
                    <div style="margin: 30px auto 0px;">
                        <a target="_blank" th:href="${appDomain}" style=" color: #808282; font-size: 14px; font-weight: 600; text-decoration: none; margin: 40px auto; ">pickershop.com.ar</a>
                        <a target="_blank" href="https://www.facebook.com/fixit/"><img th:src="${urlImages}+'/ic-facebook.png'" style="margin-left:8px;margin-bottom: -4px;"></a>
                        <a target="_blank" href="https://www.instagram.com/fixit/"><img th:src="${urlImages}+'/ic-instagram.png'" style="margin-left:8px; margin-bottom: -4px;"></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</center>
</body>

</html>